In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/covid19-forecasting-metadata/region_metadata.csv
/kaggle/input/covid19-forecasting-metadata/region_date_metadata.csv
/kaggle/input/covid19-global-forecasting-week-4/train.csv
/kaggle/input/covid19-global-forecasting-week-4/submission.csv
/kaggle/input/covid19-global-forecasting-week-4/test.csv

In [2]:
import lightgbm as lgb
import numpy as np
import pandas as pd

from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from scipy.optimize import curve_fit

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import log_loss
from sklearn.preprocessing import OneHotEncoder

import xgboost as xgb

from tensorflow.keras.optimizers import Nadam
from sklearn.metrics import mean_squared_error
import tensorflow as tf
import tensorflow.keras.layers as KL
from datetime import timedelta
import numpy as np
import pandas as pd


import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge

import datetime
import gc
from tqdm import tqdm
train = pd.read_csv("/kaggle/input/covid19-global-forecasting-week-4/train.csv")
test = pd.read_csv("/kaggle/input/covid19-global-forecasting-week-4/test.csv")

region_metadata = pd.read_csv("/kaggle/input/covid19-forecasting-metadata/region_metadata.csv")
region_date_metadata = pd.read_csv("/kaggle/input/covid19-forecasting-metadata/region_date_metadata.csv")
train = train.merge(test[["ForecastId", "Province_State", "Country_Region", "Date"]], on = ["Province_State", "Country_Region", "Date"], how = "left")
display(train.head())
test = test[~test.Date.isin(train.Date.unique())]
display(test.head())

df = pd.concat([train, test], sort = False)
df.head()

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities,ForecastId
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0,NaN
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0,NaN
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0,NaN
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0,NaN
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0,NaN

    ForecastId Province_State Country_Region        Date
13          14            NaN    Afghanistan  2020-04-15
14          15            NaN    Afghanistan  2020-04-16
15          16            NaN    Afghanistan  2020-04-17
16          17            NaN    Afghanistan  2020-04-18
17          18            NaN    Afghanistan  2020-04-19

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities,ForecastId
0,1.0,NaN,Afghanistan,2020-01-22,0.0,0.0,NaN
1,2.0,NaN,Afghanistan,2020-01-23,0.0,0.0,NaN
2,3.0,NaN,Afghanistan,2020-01-24,0.0,0.0,NaN
3,4.0,NaN,Afghanistan,2020-01-25,0.0,0.0,NaN
4,5.0,NaN,Afghanistan,2020-01-26,0.0,0.0,NaN

In [3]:
df.shape

(35682, 7)

In [4]:
df["geo"] = df.Country_Region.astype(str) + ": " + df.Province_State.astype(str)
df.loc[df.Province_State.isna(), "geo"] = df[df.Province_State.isna()].Country_Region

df.ConfirmedCases = df.groupby("geo")["ConfirmedCases"].cummax()
df.Fatalities = df.groupby("geo")["Fatalities"].cummax()

df = df.merge(region_metadata, on = ["Country_Region", "Province_State"])
df = df.merge(region_date_metadata, on = ["Country_Region", "Province_State", "Date"], how = "left")
df.continent = LabelEncoder().fit_transform(df.continent)
df.Date = pd.to_datetime(df.Date, format = "%Y-%m-%d")
df.sort_values(["geo", "Date"], inplace = True)
df.head()

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities,ForecastId,geo,lat,lon,continent,population,area,density,Recoveries
0,1.0,NaN,Afghanistan,2020-01-22,0.0,0.0,NaN,Afghanistan,33.0,65.0,2,38041754,652230,58.33,0.0
1,2.0,NaN,Afghanistan,2020-01-23,0.0,0.0,NaN,Afghanistan,33.0,65.0,2,38041754,652230,58.33,0.0
2,3.0,NaN,Afghanistan,2020-01-24,0.0,0.0,NaN,Afghanistan,33.0,65.0,2,38041754,652230,58.33,0.0
3,4.0,NaN,Afghanistan,2020-01-25,0.0,0.0,NaN,Afghanistan,33.0,65.0,2,38041754,652230,58.33,0.0
4,5.0,NaN,Afghanistan,2020-01-26,0.0,0.0,NaN,Afghanistan,33.0,65.0,2,38041754,652230,58.33,0.0

In [5]:
DAYS_SINCE_CASES = [1, 10, 50, 100, 500, 1000, 5000, 10000]
min_date_train = np.min(df[~df.Id.isna()].Date)
max_date_train = np.max(df[~df.Id.isna()].Date)

min_date_test = np.min(df[~df.ForecastId.isna()].Date)
max_date_test = np.max(df[~df.ForecastId.isna()].Date)

n_dates_test = len(df[~df.ForecastId.isna()].Date.unique())

print("Train date range:", str(min_date_train), " - ", str(max_date_train))
print("Test date range:", str(min_date_test), " - ", str(max_date_test))

# creating lag features
for lag in range(1, 41):
    df[f"lag_{lag}_cc"] = df.groupby("geo")["ConfirmedCases"].shift(lag)
    df[f"lag_{lag}_ft"] = df.groupby("geo")["Fatalities"].shift(lag)
    df[f"lag_{lag}_rc"] = df.groupby("geo")["Recoveries"].shift(lag)

for case in DAYS_SINCE_CASES:
    df = df.merge(df[df.ConfirmedCases >= case].groupby("geo")["Date"].min().reset_index().rename(columns = {"Date": f"case_{case}_date"}), on = "geo", how = "left")
df.shape

Train date range: 2020-01-22 00:00:00  -  2020-04-14 00:00:00
Test date range: 2020-04-02 00:00:00  -  2020-05-14 00:00:00

(35682, 143)

In [6]:
def prepare_features(df, gap):
    
    df["perc_1_ac"] = (df[f"lag_{gap}_cc"] - df[f"lag_{gap}_ft"] - df[f"lag_{gap}_rc"]) / df[f"lag_{gap}_cc"]
    df["perc_1_cc"] = df[f"lag_{gap}_cc"] / df.population
    
    df["diff_1_cc"] = df[f"lag_{gap}_cc"] - df[f"lag_{gap + 1}_cc"]
    df["diff_2_cc"] = df[f"lag_{gap + 1}_cc"] - df[f"lag_{gap + 2}_cc"]
    df["diff_3_cc"] = df[f"lag_{gap + 2}_cc"] - df[f"lag_{gap + 3}_cc"]
    
    df["diff_1_ft"] = df[f"lag_{gap}_ft"] - df[f"lag_{gap + 1}_ft"]
    df["diff_2_ft"] = df[f"lag_{gap + 1}_ft"] - df[f"lag_{gap + 2}_ft"]
    df["diff_3_ft"] = df[f"lag_{gap + 2}_ft"] - df[f"lag_{gap + 3}_ft"]
    
    df["diff_123_cc"] = (df[f"lag_{gap}_cc"] - df[f"lag_{gap + 3}_cc"]) / 3
    df["diff_123_ft"] = (df[f"lag_{gap}_ft"] - df[f"lag_{gap + 3}_ft"]) / 3

    df["diff_change_1_cc"] = df.diff_1_cc / df.diff_2_cc
    df["diff_change_2_cc"] = df.diff_2_cc / df.diff_3_cc
    
    df["diff_change_1_ft"] = df.diff_1_ft / df.diff_2_ft
    df["diff_change_2_ft"] = df.diff_2_ft / df.diff_3_ft

    df["diff_change_12_cc"] = (df.diff_change_1_cc + df.diff_change_2_cc) / 2
    df["diff_change_12_ft"] = (df.diff_change_1_ft + df.diff_change_2_ft) / 2
    
    df["change_1_cc"] = df[f"lag_{gap}_cc"] / df[f"lag_{gap + 1}_cc"]
    df["change_2_cc"] = df[f"lag_{gap + 1}_cc"] / df[f"lag_{gap + 2}_cc"]
    df["change_3_cc"] = df[f"lag_{gap + 2}_cc"] / df[f"lag_{gap + 3}_cc"]

    df["change_1_ft"] = df[f"lag_{gap}_ft"] / df[f"lag_{gap + 1}_ft"]
    df["change_2_ft"] = df[f"lag_{gap + 1}_ft"] / df[f"lag_{gap + 2}_ft"]
    df["change_3_ft"] = df[f"lag_{gap + 2}_ft"] / df[f"lag_{gap + 3}_ft"]

    df["change_123_cc"] = df[f"lag_{gap}_cc"] / df[f"lag_{gap + 3}_cc"]
    df["change_123_ft"] = df[f"lag_{gap}_ft"] / df[f"lag_{gap + 3}_ft"]
    
    for case in DAYS_SINCE_CASES:
        df[f"days_since_{case}_case"] = (df[f"case_{case}_date"] - df.Date).astype("timedelta64[D]")
        df.loc[df[f"days_since_{case}_case"] < gap, f"days_since_{case}_case"] = np.nan

    df["country_flag"] = df.Province_State.isna().astype(int)
    df["density"] = df.population / df.area
    
    # target variable is log of change from last known value
    df["target_cc"] = np.log1p(df.ConfirmedCases) - np.log1p(df[f"lag_{gap}_cc"])
    df["target_ft"] = np.log1p(df.Fatalities) - np.log1p(df[f"lag_{gap}_ft"])
    
    features = [
        f"lag_{gap}_cc",
        f"lag_{gap}_ft",
        f"lag_{gap}_rc",
        "perc_1_ac",
        "perc_1_cc",
        "diff_1_cc",
        "diff_2_cc",
        "diff_3_cc",
        "diff_1_ft",
        "diff_2_ft",
        "diff_3_ft",
        "diff_123_cc",
        "diff_123_ft",
        "diff_change_1_cc",
        "diff_change_2_cc",
        "diff_change_1_ft",
        "diff_change_2_ft",
        "diff_change_12_cc",
        "diff_change_12_ft",
        "change_1_cc",
        "change_2_cc",
        "change_3_cc",
        "change_1_ft",
        "change_2_ft",
        "change_3_ft",
        "change_123_cc",
        "change_123_ft",
        "days_since_1_case",
        "days_since_10_case",
        "days_since_50_case",
        "days_since_100_case",
        "days_since_500_case",
        "days_since_1000_case",
        "days_since_5000_case",
        "days_since_10000_case",
        "country_flag",
        "lat",
        "lon",
        "continent",
        "population",
        "area",
        "density",
        "target_cc",
        "target_ft"
    ]
    return df[features]

In [7]:
def build_predict_lgbm(df_train, df_test, gap):
    
    df_train.dropna(subset = ["target_cc", "target_ft", f"lag_{gap}_cc", f"lag_{gap}_ft"], inplace = True)
    
    target_cc = df_train.target_cc
    target_ft = df_train.target_ft
    
    test_lag_cc = df_test[f"lag_{gap}_cc"].values
    test_lag_ft = df_test[f"lag_{gap}_ft"].values
    
    df_train.drop(["target_cc", "target_ft"], axis = 1, inplace = True)
    df_test.drop(["target_cc", "target_ft"], axis = 1, inplace = True)
    
    categorical_features = ["continent"]
    
    dtrain_cc = lgb.Dataset(df_train, label = target_cc, categorical_feature = categorical_features)
    dtrain_ft = lgb.Dataset(df_train, label = target_ft, categorical_feature = categorical_features)

    model_cc = lgb.train(LGB_PARAMS, train_set = dtrain_cc, num_boost_round = 200)
    model_ft = lgb.train(LGB_PARAMS, train_set = dtrain_ft, num_boost_round = 200)
    
    # inverse transform from log of change from last known value
    y_pred_cc = np.expm1(model_cc.predict(df_test, num_boost_round = 200) + np.log1p(test_lag_cc))
    y_pred_ft = np.expm1(model_ft.predict(df_test, num_boost_round = 200) + np.log1p(test_lag_ft))
    
    return y_pred_cc, y_pred_ft, model_cc, model_ft

In [8]:
def predict_mad(df_test, gap, val = False):
    
    df_test["avg_diff_cc"] = (df_test[f"lag_{gap}_cc"] - df_test[f"lag_{gap + 3}_cc"]) / 3
    df_test["avg_diff_ft"] = (df_test[f"lag_{gap}_ft"] - df_test[f"lag_{gap + 3}_ft"]) / 3

    if val:
        y_pred_cc = df_test[f"lag_{gap}_cc"] + gap * df_test.avg_diff_cc - (1 - MAD_FACTOR) * df_test.avg_diff_cc * np.sum([x for x in range(gap)]) / VAL_DAYS
        y_pred_ft = df_test[f"lag_{gap}_ft"] + gap * df_test.avg_diff_ft - (1 - MAD_FACTOR) * df_test.avg_diff_ft * np.sum([x for x in range(gap)]) / VAL_DAYS
    else:
        y_pred_cc = df_test[f"lag_{gap}_cc"] + gap * df_test.avg_diff_cc - (1 - MAD_FACTOR) * df_test.avg_diff_cc * np.sum([x for x in range(gap)]) / n_dates_test
        y_pred_ft = df_test[f"lag_{gap}_ft"] + gap * df_test.avg_diff_ft - (1 - MAD_FACTOR) * df_test.avg_diff_ft * np.sum([x for x in range(gap)]) / n_dates_test

    return y_pred_cc, y_pred_ft

In [9]:
SEED = 23

LGB_PARAMS = {"objective": "regression",
              "num_leaves": 6,
              "learning_rate": 0.013,
              "bagging_fraction": 0.91,
              "feature_fraction": 0.81,
              "reg_alpha": 0.13,
              "reg_lambda": 0.13,
              "metric": "rmse",
              "seed": SEED
             }
VAL_DAYS = 7
MAD_FACTOR = 0.5

In [10]:
df_train = df[~df.Id.isna()]
df_test_full = df[~df.ForecastId.isna()]

df_preds_val = []
df_preds_test = []

for date in df_test_full.Date.unique():
    
    print("[INFO] Date:", date)
    
    # ignore date already present in train data
    if date in df_train.Date.values:
        df_pred_test = df_test_full.loc[df_test_full.Date == date, ["ForecastId", "ConfirmedCases", "Fatalities"]].rename(columns = {"ConfirmedCases": "ConfirmedCases_test", "Fatalities": "Fatalities_test"})
    else:
        df_test = df_test_full[df_test_full.Date == date]
        
        gap = (pd.Timestamp(date) - max_date_train).days
        
        if gap <= VAL_DAYS:
            val_date = max_date_train - pd.Timedelta(VAL_DAYS, "D") + pd.Timedelta(gap, "D")

            df_build = df_train[df_train.Date < val_date]
            df_val = df_train[df_train.Date == val_date]
            
            X_build = prepare_features(df_build, gap)
            X_val = prepare_features(df_val, gap)
            
            y_val_cc_lgb, y_val_ft_lgb, _, _ = build_predict_lgbm(X_build, X_val, gap)
            y_val_cc_mad, y_val_ft_mad = predict_mad(df_val, gap, val = True)
            
            df_pred_val = pd.DataFrame({"Id": df_val.Id.values,
                                        "ConfirmedCases_val_lgb": y_val_cc_lgb,
                                        "Fatalities_val_lgb": y_val_ft_lgb,
                                        "ConfirmedCases_val_mad": y_val_cc_mad,
                                        "Fatalities_val_mad": y_val_ft_mad,
                                       })

            df_preds_val.append(df_pred_val)

        X_train = prepare_features(df_train, gap)
        X_test = prepare_features(df_test, gap)

        y_test_cc_lgb, y_test_ft_lgb, model_cc, model_ft = build_predict_lgbm(X_train, X_test, gap)
        y_test_cc_mad, y_test_ft_mad = predict_mad(df_test, gap)
        
        if gap == 1:
            model_1_cc = model_cc
            model_1_ft = model_ft
            features_1 = X_train.columns.values
        elif gap == 14:
            model_14_cc = model_cc
            model_14_ft = model_ft
            features_14 = X_train.columns.values
        elif gap == 28:
            model_28_cc = model_cc
            model_28_ft = model_ft
            features_28 = X_train.columns.values

        df_pred_test = pd.DataFrame({"ForecastId": df_test.ForecastId.values,
                                     "ConfirmedCases_test_lgb": y_test_cc_lgb,
                                     "Fatalities_test_lgb": y_test_ft_lgb,
                                     "ConfirmedCases_test_mad": y_test_cc_mad,
                                     "Fatalities_test_mad": y_test_ft_mad,
                                    })
    
    df_preds_test.append(df_pred_test)

[INFO] Date: 2020-04-02T00:00:00.000000000
[INFO] Date: 2020-04-03T00:00:00.000000000
[INFO] Date: 2020-04-04T00:00:00.000000000
[INFO] Date: 2020-04-05T00:00:00.000000000
[INFO] Date: 2020-04-06T00:00:00.000000000
[INFO] Date: 2020-04-07T00:00:00.000000000
[INFO] Date: 2020-04-08T00:00:00.000000000
[INFO] Date: 2020-04-09T00:00:00.000000000
[INFO] Date: 2020-04-10T00:00:00.000000000
[INFO] Date: 2020-04-11T00:00:00.000000000
[INFO] Date: 2020-04-12T00:00:00.000000000
[INFO] Date: 2020-04-13T00:00:00.000000000
[INFO] Date: 2020-04-14T00:00:00.000000000
[INFO] Date: 2020-04-15T00:00:00.000000000
[INFO] Date: 2020-04-16T00:00:00.000000000
[INFO] Date: 2020-04-17T00:00:00.000000000
[INFO] Date: 2020-04-18T00:00:00.000000000
[INFO] Date: 2020-04-19T00:00:00.000000000
[INFO] Date: 2020-04-20T00:00:00.000000000
[INFO] Date: 2020-04-21T00:00:00.000000000
[INFO] Date: 2020-04-22T00:00:00.000000000
[INFO] Date: 2020-04-23T00:00:00.000000000
[INFO] Date: 2020-04-24T00:00:00.000000000
[INFO] Date: 2020-04-25T00:00:00.000000000
[INFO] Date: 2020-04-26T00:00:00.000000000
[INFO] Date: 2020-04-27T00:00:00.000000000
[INFO] Date: 2020-04-28T00:00:00.000000000
[INFO] Date: 2020-04-29T00:00:00.000000000
[INFO] Date: 2020-04-30T00:00:00.000000000
[INFO] Date: 2020-05-01T00:00:00.000000000
[INFO] Date: 2020-05-02T00:00:00.000000000
[INFO] Date: 2020-05-03T00:00:00.000000000
[INFO] Date: 2020-05-04T00:00:00.000000000
[INFO] Date: 2020-05-05T00:00:00.000000000
[INFO] Date: 2020-05-06T00:00:00.000000000
[INFO] Date: 2020-05-07T00:00:00.000000000
[INFO] Date: 2020-05-08T00:00:00.000000000
[INFO] Date: 2020-05-09T00:00:00.000000000
[INFO] Date: 2020-05-10T00:00:00.000000000
[INFO] Date: 2020-05-11T00:00:00.000000000
[INFO] Date: 2020-05-12T00:00:00.000000000
[INFO] Date: 2020-05-13T00:00:00.000000000
[INFO] Date: 2020-05-14T00:00:00.000000000

In [11]:
df = df.merge(pd.concat(df_preds_val, sort = False), on = "Id", how = "left")
df = df.merge(pd.concat(df_preds_test, sort = False), on = "ForecastId", how = "left")

rmsle_cc_lgb = np.sqrt(mean_squared_error(np.log1p(df[~df.ConfirmedCases_val_lgb.isna()].ConfirmedCases), np.log1p(df[~df.ConfirmedCases_val_lgb.isna()].ConfirmedCases_val_lgb)))
rmsle_ft_lgb = np.sqrt(mean_squared_error(np.log1p(df[~df.Fatalities_val_lgb.isna()].Fatalities), np.log1p(df[~df.Fatalities_val_lgb.isna()].Fatalities_val_lgb)))

rmsle_cc_mad = np.sqrt(mean_squared_error(np.log1p(df[~df.ConfirmedCases_val_mad.isna()].ConfirmedCases), np.log1p(df[~df.ConfirmedCases_val_mad.isna()].ConfirmedCases_val_mad)))
rmsle_ft_mad = np.sqrt(mean_squared_error(np.log1p(df[~df.Fatalities_val_mad.isna()].Fatalities), np.log1p(df[~df.Fatalities_val_mad.isna()].Fatalities_val_mad)))

print("LGB CC RMSLE Val of", VAL_DAYS, "days for CC:", round(rmsle_cc_lgb, 2))
print("LGB FT RMSLE Val of", VAL_DAYS, "days for FT:", round(rmsle_ft_lgb, 2))
print("LGB Overall RMSLE Val of", VAL_DAYS, "days:", round((rmsle_cc_lgb + rmsle_ft_lgb) / 2, 2))
print("MAD CC RMSLE Val of", VAL_DAYS, "days for CC:", round(rmsle_cc_mad, 2))
print("MAD FT RMSLE Val of", VAL_DAYS, "days for FT:", round(rmsle_ft_mad, 2))
print("MAD Overall RMSLE Val of", VAL_DAYS, "days:", round((rmsle_cc_mad + rmsle_ft_mad) / 2, 2))

LGB CC RMSLE Val of 7 days for CC: 0.21
LGB FT RMSLE Val of 7 days for FT: 0.2
LGB Overall RMSLE Val of 7 days: 0.2
MAD CC RMSLE Val of 7 days for CC: 0.19
MAD FT RMSLE Val of 7 days for FT: 0.22
MAD Overall RMSLE Val of 7 days: 0.2

In [12]:
test = df.loc[~df.ForecastId.isna(), ["ForecastId", "Country_Region", "Province_State", "Date",
                                                     "ConfirmedCases_test", "ConfirmedCases_test_lgb", "ConfirmedCases_test_mad",
                                                     "Fatalities_test", "Fatalities_test_lgb", "Fatalities_test_mad"]].reset_index()

test["ConfirmedCases"] = 0.15 * test.ConfirmedCases_test_lgb + 0.85 * test.ConfirmedCases_test_mad
test["Fatalities"] = 0.1 * test.Fatalities_test_lgb + 0.9 * test.Fatalities_test_mad

test.loc[test.Country_Region.isin(["China", "US", "Diamond Princess"]), "ConfirmedCases"] = test[test.Country_Region.isin(["China", "US", "Diamond Princess"])].ConfirmedCases_test_mad.values
test.loc[test.Country_Region.isin(["China", "US", "Diamond Princess"]), "Fatalities"] = test[test.Country_Region.isin(["China", "US", "Diamond Princess"])].Fatalities_test_mad.values

test.loc[test.Date.isin(df_train.Date.values), "ConfirmedCases"] = test[test.Date.isin(df_train.Date.values)].ConfirmedCases_test.values
test.loc[test.Date.isin(df_train.Date.values), "Fatalities"] = test[test.Date.isin(df_train.Date.values)].Fatalities_test.values

sub0 = test[["ForecastId", "ConfirmedCases", "Fatalities"]]
sub0.ForecastId = sub0.ForecastId.astype(int)

sub0.head()

   ForecastId  ConfirmedCases  Fatalities
0           1           273.0         6.0
1           2           281.0         6.0
2           3           299.0         7.0
3           4           349.0         7.0
4           5           367.0        11.0

In [13]:
sub0.shape

(13459, 3)

In [14]:
test.loc[test["Country_Region"]=="India", ["ForecastId", "Date", "Country_Region", "ConfirmedCases_test_mad", "Fatalities_test_mad"]]

,ForecastId,Date,Country_Region,ConfirmedCases_test_mad,Fatalities_test_mad
6020,6021.0,2020-04-02,India,NaN,NaN
6021,6022.0,2020-04-03,India,NaN,NaN
6022,6023.0,2020-04-04,India,NaN,NaN
6023,6024.0,2020-04-05,India,NaN,NaN
6024,6025.0,2020-04-06,India,NaN,NaN
6025,6026.0,2020-04-07,India,NaN,NaN
6026,6027.0,2020-04-08,India,NaN,NaN
6027,6028.0,2020-04-09,India,NaN,NaN
6028,6029.0,2020-04-10,India,NaN,NaN
6029,6030.0,2020-04-11,India,NaN,NaN
6030,6031.0,2020-04-12,India,NaN,NaN
6031,6032.0,2020-04-13,India,NaN,NaN
6032,6033.0,2020-04-14,India,NaN,NaN
6033,6034.0,2020-04-15,India,12500.666667,428.000000
6034,6035.0,2020-04-16,India,13502.546512,462.593023
6035,6036.0,2020-04-17,India,14492.639535,496.779070
6036,6037.0,2020-04-18,India,15470.945736,530.558140
6037,6038.0,2020-04-19,India,16437.465116,563.930233
6038,6039.0,2020-04-20,India,17392.197674,596.895349
6039,6040.0,2020-04-21,India,18335.143411,629.453488
6040,6041.0,2020-04-22,India,19266.302326,661.604651
6041,6042.0,2020-04-23,India,20185.674419,693.348837
6042,6043.0,2020-04-24,India,21093.259690,724.686047
6043,6044.0,2020-04-25,India,21989.058140,755.616279
6044,6045.0,2020-04-26,India,22873.069767,786.139535
6045,6046.0,2020-04-27,India,23745.294574,816.255814
6046,6047.0,2020-04-28,India,24605.732558,845.965116
6047,6048.0,2020-04-29,India,25454.383721,875.267442
6048,6049.0,2020-04-30,India,26291.248062,904.162791
6049,6050.0,2020-05-01,India,27116.325581,932.651163
6050,6051.0,2020-05-02,India,27929.616279,960.732558
6051,6052.0,2020-05-03,India,28731.120155,988.406977
6052,6053.0,2020-05-04,India,29520.837209,1015.674419
6053,6054.0,2020-05-05,India,30298.767442,1042.534884
6054,6055.0,2020-05-06,India,31064.910853,1068.988372
6055,6056.0,2020-05-07,India,31819.267442,1095.034884
6056,6057.0,2020-05-08,India,32561.837209,1120.674419
6057,6058.0,2020-05-09,India,33292.620155,1145.906977
6058,6059.0,2020-05-10,India,34011.616279,1170.732558
6059,6060.0,2020-05-11,India,34718.825581,1195.151163
6060,6061.0,2020-05-12,India,35414.248062,1219.162791
6061,6062.0,2020-05-13,India,36097.883721,1242.767442
6062,6063.0,2020-05-14,India,36769.732558,1265.965116

In [15]:
sub0.loc[sub0.ForecastId.between(6031, 6063)]

      ForecastId  ConfirmedCases   Fatalities
6030        6031     9205.000000   331.000000
6031        6032    10453.000000   358.000000
6032        6033    11487.000000   393.000000
6033        6034    12475.835039   427.945054
6034        6035    13492.152281   462.906669
6035        6036    14481.338577   498.126895
6036        6037    15438.844691   533.703935
6037        6038    16438.258943   568.535186
6038        6039    17460.609017   604.639302
6039        6040    18434.896594   640.217808
6040        6041    19416.579121   679.311775
6041        6042    20433.811527   716.578935
6042        6043    21328.706735   756.626860
6043        6044    22185.228235   801.154560
6044        6045    23166.279246   835.573619
6045        6046    24142.930889   881.079705
6046        6047    25194.026582   912.578752
6047        6048    25916.250184   954.171727
6048        6049    26886.909492   988.505190
6049        6050    27420.961107  1047.219192
6050        6051    28087.098266  1122.479898
6051        6052    28855.835872  1165.373343
6052        6053    29537.077187  1222.583722
6053        6054    30251.651976  1297.401139
6054        6055    31021.939538  1336.857310
6055        6056    31755.110480  1372.797031
6056        6057    32753.258762  1393.823900
6057        6058    33820.130124  1377.962295
6058        6059    35039.593114  1433.833824
6059        6060    35669.079895  1447.725330
6060        6061    36962.702455  1461.388802
6061        6062    38183.573913  1477.040012
6062        6063    39050.721870  1515.258334

In [16]:
sub0.to_csv("submission.csv",index=False)
sub0.head()

   ForecastId  ConfirmedCases  Fatalities
0           1           273.0         6.0
1           2           281.0         6.0
2           3           299.0         7.0
3           4           349.0         7.0
4           5           367.0        11.0

In [17]:
sub0.isna().sum()

ForecastId        0
ConfirmedCases    0
Fatalities        0
dtype: int64